# Normalize line endings
*.sum text       eol=lf
*.mod text       eol=lf
*.go text        eol=lf
*.sh text        eol=lf
*.bat text       eol=lf
*.md text        eol=lf
*.txt text       eol=lf
*.yaml text      eol=lf
*.yml text       eol=lf
*.json text      eol=lf

.github/         export-ignore

.editorconfig    export-ignore
.gitattributes   export-ignore
.gitignore       export-ignore
dev/             export-ignore
Makefile         export-ignore

vendor/**        linguist-vendored
*.pb.go          linguist-generated
