# Normalize line endings
*.sum text          eol=lf
*.mod text          eol=lf
*.go text           eol=lf
*.sh text           eol=lf
*.bat text          eol=lf
*.md text           eol=lf
*.txt text          eol=lf
*.yaml text         eol=lf
*.yml text          eol=lf
*.json text         eol=lf

.devcontainer/      export-ignore
.vscode/            export-ignore

.github/            export-ignore
.gitignore          export-ignore
.gitattributes      export-ignore
.editorconfig       export-ignore
*_test.go           export-ignore
*_benchmark_test.go export-ignore

README.md           export-ignore
Makefile            export-ignore
_examples/           export-ignore
.sonarlint/         export-ignore
.golangci.yml       export-ignore
*.text              export-ignore

vendor/**           linguist-vendored
*.pb.go             linguist-generated
