name: Build

on:
  push:            # any branch
  pull_request:    # selected PR events
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read

jobs:
  Unittest:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ${{ fromJSON( (github.ref == 'refs/heads/main' || (github.event_name == 'pull_request' && github.base_ref == 'main')) && '["1.24.7","1.25.1"]' || '["1.25.1"]' ) }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - run: mkdir -p reports

      - name: Clean Cache
        run: go clean -cache -testcache -modcache

      - name: Execute test
        run: |
          go test -mod=readonly \
              -coverpkg=./... \
              -coverprofile=reports/coverage.out \
              -v ./... >reports/unittest.txt

      - name: Coverage Percentage
        run: go tool cover -func=reports/coverage.out

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Go test artifacts for build ${{ github.run_number }}-${{ matrix.go }} in ocpp16messages
          path: reports
          retention-days: 1

  Golangci-lint:
    name: Golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.7
          args: --config golangci.yml --timeout=5m ./...

      - name: Report
        run: cat reports/golangci-lint.txt || true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Golint-CI artifacts for build ${{ github.run_number }} in ocpp16messages
          include-hidden-files: true
          path: reports/

  staticcheck:
    name: staticcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.1
          cache: false

      - run: mkdir -p reports

      - uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          output-file: reports/staticcheck

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: statickcheck artifacts for build ${{ github.run_number }} in ocpp16messages
          include-hidden-files: true
          path: reports/

  vet:
    name: go vet
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ${{ fromJSON( (github.ref == 'refs/heads/main' || (github.event_name == 'pull_request' && github.base_ref == 'main')) && '["1.24.7","1.25.1"]' || '["1.25.1"]' ) }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          cache: false
      - run: mkdir -p reports

      - run: go vet ./... >reports/vet

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: go vet artifacts for build ${{ github.run_number }}-${{ matrix.go }} in ocpp16messages
          include-hidden-files: true
          path: reports/

  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    needs:
      - Unittest
      - vet
      - staticcheck
      - Golangci-lint
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Download All Artifacts
        uses: actions/download-artifact@v5
        with:
          path: reports
          merge-multiple: true

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
