name: Build

on:
  push:            # any branch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Unittest:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ["1.24.11","1.25.5"]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - run: mkdir -p reports

      - name: Clean Cache
        run: go clean -cache -testcache -modcache

      - name: Execute test
        run: |
          go test -mod=readonly \
              -coverpkg=./... \
              -coverprofile=reports/coverage.out \
              -v ./... >reports/unittest.txt

      - name: Coverage Percentage
        run: go tool cover -func=reports/coverage.out

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Go test artifacts for build ${{ github.run_number }}-${{ matrix.go }} in ocpp16messages
          path: reports
          retention-days: 1

  Golangci-lint:
    name: Golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.7
          args: --config golangci.yml --timeout=5m ./...

      - name: Report
        run: cat reports/golangci-lint.txt || true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Golint-CI artifacts for build ${{ github.run_number }} in ocpp16messages
          include-hidden-files: true
          path: reports/

  staticcheck:
    name: staticcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          cache: false

      - run: mkdir -p reports

      - uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          output-file: reports/staticcheck

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: statickcheck artifacts for build ${{ github.run_number }} in ocpp16messages
          include-hidden-files: true
          path: reports/

  vet:
    name: go vet
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ["1.24.11","1.25.5"]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          cache: false
      - run: mkdir -p reports

      - run: go vet ./... >reports/vet

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: go vet artifacts for build ${{ github.run_number }}-${{ matrix.go }} in ocpp16messages
          include-hidden-files: true
          path: reports/
